
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h2>Schedule</h2>
    <hr />
    <ul class="colom-list">
        <li>To schedule an appointment</li>
        <li>Call: 713-323-2720</li>
        <li>Or</li>
        <li>Register and we will call you.</li>
    </ul>
    <div class="btn">
        <a href="/Account/Register" class="btn btn-default" style="background-color: navy; color:lightgoldenrodyellow;">Register</a>
    </div>
    <hr />
</body>
</html>

