
@{
    ViewBag.Title = "theGalleria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h1>The Galleria Office</h1>
    @*--------Elliot Read------*@
    <div class="card card-medium card-1">
        <img class="card-img-left" src="https://upload.wikimedia.org/wikipedia/en/6/63/Elliot-scrubs.jpg" />
        <div class="card-block">
            <h4 class="card-title">Dr. Elliot Read M.D.</h4>
        </div>
        <h5>Dr. Read Treats a number of Conditions Including:</h5>
        <ul class="colom-list">
            <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
            <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
            <li><a href="/conditions/asthma">Asthma</a></li>
            <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
            <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
            <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
            <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
            <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
        </ul>
        <ul class="colom-list">
            <li>Hours:</li>
            <li>Tuesday, Thursday 8am- 5pm</li>
            <li> </li>
            <li>To schedule an appointment</li>
            <li>Call: 713-323-2720</li>
            <li>Or</li>
            <li>Register and we will call you.</li>
        </ul>
        <div class="btn">
            <a href="/Account/Register" class="btn btn-default" style="background-color: navy; color:lightgoldenrodyellow;">Register</a>
        </div>
    </div>
    @*------JD------*@
    <div class="card card-medium card-1">
        <img class="card-img-left" src="https://upload.wikimedia.org/wikipedia/en/a/a2/Jd_season9.jpg" />
        <div class="card-block">
            <h4 class="card-title">Dr. John Micheal Dorian M.D.</h4>
        </div>
        <h5>Dr. Dorian Treats a number of Conditions Including:</h5>
        <ul class="colom-list">
            <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
            <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
            <li><a href="/conditions/asthma">Asthma</a></li>
            <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
            <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
            <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
            <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
            <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
        </ul>
        <ul class="colom-list">
            <li>Hours:</li>
            <li>Monday, Wednesday, Friday 8am- 5pm</li>
            <li> </li>
            <li>To schedule an appointment</li>
            <li>Call: 713-323-2720</li>
            <li>Or</li>
            <li>Register and we will call you.</li>
        </ul>
        <div class="btn">
            <a href="/Account/Register" class="btn btn-default" style="background-color: navy; color:lightgoldenrodyellow;">Register</a>
        </div>
    </div>

</body>
</html>

