
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPatientPortal.cshtml";
}
<html>
<body>
    <div class="bhoechie-tab">
        <div class="bhoechie-tab-content active">
            <p style="font-size:medium;margin-bottom:20px;">Below you can view your personal information and request an appointment with us.</p>
            <a href="/PatientPortal/AppointmentForm" class="ss-button" type="submit" style="padding: 15px; text-align: center; display: block;  border-radius: 40px; height: 50px; margin-top: 0; margin-bottom: 30px; width: 300px; background-color: navy; border: none; color: lightgoldenrodyellow; font-size: 16px;">Request an Appointment</a>
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading noNote">
                        <div class="title-right"></div>
                        <div class="panel-title">Your Information</div>
                    </div>
                    <div class="panel-body overflowH">
                        <div class="form-horizontal group-border hover-stripped formView">
                            <div class="form-group">
                                <div class="half-form-row">
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Customer Name</label>
                                        <div class="controls padri10">
                                            <div class="filledVlaue" style="margin-left:51px;">
                                                Chris Grindereng
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Address</label>
                                        <div class="controls padri10">
                                            <div class="filledVlaue" style="margin-left:51px;">
                                                317 Studemont Street, Texas, United States, 77025
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="half-form-row">
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Phone Number</label>
                                        <div class="controls padri10">
                                            <div class="filledVlaue" style="margin-left:51px;">
                                                303-717-9282
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label class="control-label">Email Address</label>
                                        <div class="controls padri10">
                                            <div class="filledVlaue" style="margin-left:51px;">
                                                chris.grindereng@gmail.com
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

