
@{
    ViewBag.Title = "allergicRhinitis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />
@*------Rhinitis-----*@
<div>
    <h1>Rhinitis</h1>
    <h2>Allergic Rhinitis</h2>

    <p>
        If you have allergic rhinitis, your immune system mistakenly identifies a typically harmless substance as an intruder. This substance is called an allergen. The immune system responds to the allergen by releasing histamine and chemical mediators that typically cause symptoms in the nose, throat, eyes, ears, skin and roof of the mouth.
    </p>
    <p>
        Seasonal allergic rhinitis (hay fever) is most often caused by pollen carried in the air during different times of the year in different parts of the country.
    </p>
    <p>
        Allergic rhinitis can also be triggered by common indoor allergens such as the dried skin flakes, urine and saliva found on pet dander, mold, droppings from dust mites and cockroach particles. This is called perennial allergic rhinitis, as symptoms typically occur year-round.
    </p>
    <p>
        In addition to allergen triggers, symptoms may also occur from irritants such as smoke and strong odors, or to changes in the temperature and humidity of the air. This happens because allergic rhinitis causes inflammation in the nasal lining, which increases sensitivity to inhalants.
    </p>
    <p>
        Many people with allergic rhinitis are prone to allergic conjunctivitis (eye allergy). In addition, allergic rhinitis can make symptoms of asthma worse for people who suffer from both conditions.
    </p>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>


