
@{
    ViewBag.Title = "anaphylaxis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />
@*------Anaphylaxis------*@
<div>
    <h1>Anaphylaxis</h1>

    <p>
        Anaphylaxis (an-a-fi-LAK-sis) is a serious, life-threatening allergic reaction. The most common anaphylactic reactions are to foods, insect stings, medications.
    </p>
    <p>
        If you are allergic to a substance, your immune system overreacts to this allergen by releasing chemicals that cause allergy symptoms. Typically, these bothersome symptoms occur in one location of the body. However, some people are susceptible to a much more serious anaphylactic reaction. This reaction typically affects more than one part of the body at the same time.
    </p>
    <p>
        Anaphylaxis requires immediate medical treatment, including a prompt injection of epinephrine and a trip to a hospital emergency room. If it isn’t treated properly, anaphylaxis can be fatal.
    </p>
    <p>
        Certain people are more at risk of anaphylaxis. If you have allergies or asthma and have a family history of anaphylaxis, your risk is higher. And, if you’ve experienced anaphylaxis your risk of having another anaphylactic reaction is increased.
    </p>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>


