
@{
    ViewBag.Title = "asthma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />
@*---------Asthma--------*@
<div>
    <h1>Asthma</h1>
    <p>
        Asthma is a chronic disease involving the airways in the lungs. These airways, or bronchial tubes, allow air to come in and out of the lungs.
    </p>
    <p>
        If you have asthma your airways are always inflamed. They become even more swollen and the muscles around the airways can tighten when something triggers your symptoms. This makes it difficult for air to move in and out of the lungs, causing symptoms such as coughing, wheezing, shortness of breath and/or chest tightness.
    </p>
    <p>
        For many asthma sufferers, timing of these symptoms is closely related to physical activity. And, some otherwise healthy people can develop asthma symptoms only when exercising. This is called exercise-induced bronchoconstriction (EIB), or exercise-induced asthma (EIA). Staying active is an important way to stay healthy, so asthma shouldn't keep you on the sidelines. Your physician can develop a management plan to keep your symptoms under control before, during and after physical activity.
    </p>
    <p>
        People with a family history of allergies or asthma are more prone to developing asthma. Many people with asthma also have allergies. This is called allergic asthma.
    </p>
    <p>
        Occupational asthma is caused by inhaling fumes, gases, dust or other potentially harmful substances while on the job.
    </p>
    <p>
        Childhood asthma impacts millions of children and their families. In fact, the majority of children who develop asthma do so before the age of five.
    </p>
    <p>
        There is no cure for asthma, but once it is properly diagnosed and a treatment plan is in place you will be able to manage your condition, and your quality of life will improve.
    </p>
    <p>
        An allergist / immunologist is the best qualified physician in diagnosing and treating asthma. With the help of your allergist, you can take control of your condition and participate in normal activities.
    </p>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>



