
@{
    ViewBag.Title = "foodAllergy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />
@*------Food Allergy------*@

<div>
    <h1>Food Allergy</h1>

    <p>
        If you have a food allergy, your immune system overreacts to a particular protein found in that food. Symptoms can occur when coming in contact with just a tiny amount of the food.
    </p>
    <p>
        Many food allergies are first diagnosed in young children, though they may also appear in older children and adults.
    </p>
    <p>
        Eight foods are responsible for the majority of allergic reactions:
    </p>
    <ul>
        <li>Cow’s milk</li>
        <li>Eggs</li>
        <li>Fish</li>
        <li>Peanuts</li>
        <li>Shellfish</li>
        <li>Soy</li>
        <li>Tree nuts</li>
        <li>Wheat</li>
    </ul>
    <p>
        Many people who think they are allergic to a food may actually be intolerant to it. Some of the symptoms of food intolerance and food allergy are similar, but the differences between the two are very important. If you are allergic to a food, this allergen triggers a response in the immune system. Food allergy reactions can be life-threatening, so people with this type of allergy must be very careful to avoid their food triggers.
    </p>
    <p>
        Being allergic to a food may also result in being allergic to a similar protein found in something else. For example, if you are allergic to ragweed, you may also develop reactions to bananas or melons. This is known as cross-reactivity. Cross-reactivity happens when the immune system thinks one protein is closely related to another. When foods are involved it is called oral allergy syndrome (OAS).
    </p>
    <p>
        Food allergy can strike children and adults alike. While many children outgrow a food allergy, it is also possible for adults to develop allergies to particular foods.
    </p>
    <p>
        Food Protein-Induced Enterocolitis Syndrome (FPIES), sometimes referred to as a delayed food allergy, is a severe condition causing vomiting and diarrhea. In some cases, symptoms can progress to dehydration and shock brought on by low blood pressure and poor blood circulation.
    </p>
    <p>
        Much like other food allergies, FPIES allergic reactions are triggered by ingesting a food allergen. Although any food can be a trigger, the most common culprits include milk, soy and grains. FPIES often develops in infancy, usually when a baby is introduced to solid food or formula.
    </p>
    <p>
        Eosinophilic (ee-uh-sin-uh-fil-ik) Esophagitis (EoE) is an allergic condition causing inflammation of the esophagus. The esophagus is the tube that sends food from the throat to the stomach. Most research suggests that the leading cause of EoE is an allergy or a sensitivity to particular proteins found in foods. Many people with EoE have a family history of allergic disorders such as asthma, rhinitis, dermatitis or food allergy.
    </p>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>


