
@{
    ViewBag.Title = "sinusitus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />

@*-------Sinusitis------*@

<div>
    <h1>Sinusitis</h1>
    <p>
        If you have nasal congestion, facial pressure, cough and thick nasal discharge, you may have rhinosinusitis, commonly referred to as sinusitis.
    </p>
    <p>
        Your sinuses are hollow cavities within your cheekbones, around your eyes and behind your nose. They contain mucus, which helps to warm, moisten and filter the air you breathe. When something blocks the mucus from draining normally, an infection can occur.
    </p>
    <h3>Acute Sinusitis</h3>
    <p>
        Acute sinusitis refers to sinusitis symptoms lasting less than four weeks. Most cases begin as a common cold. Symptoms often go away within a week to 10 days; but in some people, a bacterial infection develops.
    </p>
    <h3>Chronic Sinusitis</h3>
    <p>
        Chronic sinusitis, also referred to as chronic rhinosinusitis, is often diagnosed when symptoms have gone on for more than 12 weeks, despite medical treatment.
    </p>
    <p>
        People with allergic rhinitis or asthma are more likely to suffer from chronic sinusitis. This is because the airways are more likely to become inflamed when allergic rhinitis or asthma are present. Sinusitis may also be caused by an infection, a fungus, deviated nasal septum, nasal polyps or in rare cases an immune system deficiency.
    </p>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>


