
@{
    ViewBag.Title = "skinDisease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />
@*-----Skin Allergy-----*@
<div>
    <h1>Allergic Skin Diseases</h1>
    <p>
        Irritated skin can be caused by a variety of factors. These include immune system disorders, medications and infections. When an allergen is responsible for triggering an immune system response, then it is an allergic skin condition.
    </p>
    <h3>Dermatitis (Eczema)</h3>
    <p>
        Eczema is the most common skin condition, especially in children. It affects one in five infants but only around one in fifty adults. It is now thought to be due to “leakiness” of the skin barrier, which causes it to dry out and become prone to irritation and inflammation by many environmental factors. Also, some people with eczema have a food sensitivity which can make eczema symptoms worse. In about half of patients with severe atopic dermatitis, the disease is due to inheritance of a faulty gene in their skin called filaggrin. Unlike with urticaria (hives), the itch of eczema is not only caused by histamine so anti-histamines may not control the symptoms. Eczema is often linked with asthma, allergic rhinitis (hay fever) or food allergy. This order of progression is called the atopic march.
    </p>
    <h3>Contact Dermatitis</h3>
    <p>
        Allergic contact dermatitis occurs when your skin comes in direct contact with an allergen. For instance, if you have a nickel allergy and your skin comes in contact with jewelry made with even a very small amount of nickel, you may develop red, bumpy, scaly, itchy or swollen skin at the point of contact.
    </p>
    <p>
        Coming in contact with poison ivy, poison oak and poison sumac can also cause allergic contact dermatitis. The red, itchy rash is caused by an oily coating covering these plants. The allergic reaction can come from actually touching them, or by touching clothing, pets or even gardening tools that have come in contact with the oil.
    </p>
    <h3>(Hives)</h3>
    <p>
        Hives are an inflammation of the skin triggered when the immune system releases histamine. This causes small blood vessels to leak, which leads to swelling in the skin. Swelling in deep layers of the skin is called angioedema. There are two kinds of urticaria, acute and chronic. Acute urticaria occurs at times after eating a particular food or coming in contact with a particular trigger. It can also be triggered by non-allergic causes such as heat or exercise, as well as medications, foods, insect bites or infections. Chronic urticaria is rarely caused by specific triggers and so allergy tests are usually not helpful. Chronic urticaria can last for many months or years. Although they are often uncomfortable and sometimes painful, hives are not contagious.
    </p>
    <h3>Angioedema</h3>
    <p>
        Angioedema is swelling in the deep layers of the skin. It is often seen together with urticaria (hives). Angioedema many times occurs in soft tissues such as the eyelids, mouth or genitals. Angioedema is called "acute" if the condition lasts only a short time such as minutes to hours. Acute angioedema is commonly caused by an allergic reaction to medications or foods. Chronic recurrent angioedema is when the condition returns over a long period of time. It typically does not have an identifiable cause.
    </p>
    <p>
        Hereditary angiodema (HAE) is a rare, but serious genetic condition involving swelling in various body parts including the hands, feet, face, intestinal wall and airways. It does not respond to treatment with antihistamines or adrenaline so it is important to go see a specialist.
    </p>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>

