
@{
    ViewBag.Title = "venom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<hr />
@*-------Venom or Insect Allergy-----*@
<div>
    <h1> Venom and Insect Allergy</h1>

    <p>
        Most of us develop redness and swelling at the site of an insect bite. Yet people who are allergic to stinging insect venom are at risk for a much more serious reaction. This life-threatening reaction is called anaphylaxis (an-a-fi-LAK-sis).
    </p>
    <p>
        Understanding differences in symptoms between a normal reaction and an allergic reaction can bring peace of mind. It is also important to have an accurate diagnosis so you can manage your condition and be prepared for an emergency.
    </p>
    <p>
        An allergic reaction occurs when the immune system overreacts to an allergen. In stinging insect allergy, the allergen is venom from a sting. Most serious reactions are caused by five types of insects:
    </p>
    <ul>
        <li>Yellow jackets are black with yellow markings, found in various climates. Their nests are usually located underground, but sometimes found in the walls of buildings, cracks in masonry or in woodpiles.</li>

        <li>Honeybees have round, fuzzy bodies with dark brown and yellow markings. They can be found in honeycombs in trees, old tires or other partially protected sites.</li>

        <li>Paper wasps are slender with black, brown, red and yellow markings. They live in a circular comb under eaves, behind shutters or in and woodpiles.</li>

        <li>Hornets are black or brown with white, orange or yellow markings. Their nests are gray or brown and are usually found in trees.</li>

        <li>Fire ants are reddish-brown ants living in large mounds, mostly in warmer climates. They attack with little warning, inserting highly concentrated toxins that cause burning and pain.</li>
    </ul>
</div>

<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>


