@{
    ViewBag.Title = "About";
}
<html>
<body>
    <h2>@ViewData["Title"]</h2>

    <p>
        This application is built as an example of an allergist’s website. It provides users access to general medical information, office locations, and physician bios. A patient can register and login to access the patient portal for managing personal information and documents provided by the practice.
    </p>
    <p>
        Technologies used in this application include: C# ASP.Net Core MVC, Razor views, CSS, JavaScript.
    </p>
    <p>
        You can contact the developer on this project <a style="color:blue" href="/Home/Contact">here.</a>
    </p>
</body>
</html>
