@{
    ViewBag.Title = "Contact";
}
<h2>@ViewData["Title"].</h2>


<p>The developer on this project is Chris Grindereng. You can check out the code for this project on <a style="color: blue;" href="https://github.com/ChrisGrindereng/AllergySite">GitHub</a></p>

<p>If you would like to contact Chris email him at <a style="color: blue;" class="bttmIcons" href="mailto:chris.grindereng@gmail.com">chris.grindereng@gmail.com</a> </p>
<p>Check out some other work by Chris on his portfolio at <a style="color: blue;" href="https://chrisgrindereng.github.io/profile/">www.chrisgrindereng.org</a></p>
