
@{
    ViewBag.Title = "Physicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @*-----Perry Cox-----*@
    <div class="card card-large card-1">
        <img class="card-img-left" src="https://upload.wikimedia.org/wikipedia/en/8/87/Cox-season9.jpg" />
        <div class="card-block">
            <h4 class="card-title">Dr. Perry Cox M.D.</h4>
        </div>
        <ul class="colom-list">
            <li>
                <p>
                    Perry Cox MD, is a board-certified adult and pediatric allergy, asthma, and immunology specialist. He specializes in the diagnosis and treatment of allergic and non-allergic rhinitis, acute and chronic sinusitis, allergic skin diseases, angioedema, food allergy, venom or insect allergy, and asthma.
                </p>
                <p>
                    He completed his training in Internal Medicine and Allergy & Immunology at The University of Texas Medical Branch, Galveston.
                </p>
                <p>
                    Dr. Cox is a member of several protentional organizations including Texas Allergy, Asthma and Immunology Society (TAAIS), the American Academy of Allergy, Asthma, and Immunology (AAAAI) and American College of Allergy, Asthma, and Immunology (ACAAI).
                </p>
            </li>
            <li>Woodlands Office</li>
            <li>Monday-Friday 8am- 5pm</li>

        </ul>
        <div class="btn">
            <a href="/Appointment/Index" class="btn btn-default" style="background-color: navy; color:lightgoldenrodyellow;"> Make an Appointment</a>
        </div>
    </div>
    @*--------Elliot Read------*@
    <div class="card card-large card-1">
        <img class="card-img-left" src="https://upload.wikimedia.org/wikipedia/en/6/63/Elliot-scrubs.jpg" />
        <div class="card-block">
            <h4 class="card-title">Dr. Elliot Read M.D.</h4>
        </div>
        <ul class="colom-list">
            <li>
                <p>
                    Elliot Read MD, is a board-certified adult and pediatric allergy, asthma, and immunology specialist. She specializes in the diagnosis and treatment of allergic and non-allergic rhinitis, acute and chronic sinusitis, allergic skin diseases, angioedema, food allergy, venom or insect allergy, and asthma.
                </p>
                <p>
                    She completed his training in Internal Medicine and Allergy & Immunology at The University of Texas Medical Branch, Galveston.
                </p>
                <p>
                    Dr. Read is a member of several protentional organizations including Texas Allergy, Asthma and Immunology Society (TAAIS), the American Academy of Allergy, Asthma, and Immunology (AAAAI) and American College of Allergy, Asthma, and Immunology (ACAAI).
                </p>
            </li>
            <li>Texas Medical Center</li>
            <li>Monday, Wednesday, Friday 8am- 5pm</li>
            <li> </li>
            <li>The Galleria</li>
            <li>Tuesday, Thursday 8am- 5pm</li>

        </ul>
        <div class="btn">
            <a href="/Appointment/Index" class="btn btn-default" style="background-color: navy; color:lightgoldenrodyellow;"> Make an Appointment</a>
        </div>
    </div>
    @*------JD------*@
    <div class="card card-large card-1">
        <img class="card-img-left" src="https://upload.wikimedia.org/wikipedia/en/a/a2/Jd_season9.jpg" />
        <div class="card-block">
            <h4 class="card-title">Dr. John Micheal Dorian M.D.</h4>
        </div>
        <ul class="colom-list">
            <li>
                <p>
                    John Micheal Dorian MD, is a board-certified adult and pediatric allergy, asthma, and immunology specialist. He specializes in the diagnosis and treatment of allergic and non-allergic rhinitis, acute and chronic sinusitis, allergic skin diseases, angioedema, food allergy, venom or insect allergy, and asthma.
                </p>
                <p>
                    He completed his training in Internal Medicine and Allergy & Immunology at The University of Texas Medical Branch, Galveston.
                </p>
                <p>
                    Dr. Dorian is a member of several protentional organizations including Texas Allergy, Asthma and Immunology Society (TAAIS), the American Academy of Allergy, Asthma, and Immunology (AAAAI) and American College of Allergy, Asthma, and Immunology (ACAAI).
                </p>
            </li>
            <li>Texas Medical Center</li>
            <li>Tuesday, Thursday 8am- 5pm</li>
            <li>The Galleria</li>
            <li>Monday, Wednesday, Friday 8am- 5pm</li>
            <li> </li>
        </ul>
        <div class="btn">
            <a href="/Appointment/Index" class="btn btn-default" style="background-color: navy; color:lightgoldenrodyellow;"> Make an Appointment</a>
        </div>
    </div>
</body>
</html>
